/**************以上是预设****************/
@charset "utf-8";
body,div,li,a,h1,h2,h3,h4,h5,ul,span {
   margin: 0px;
   padding: 0px;
   color:#333;
   text-decoration:none;
   font: 16px "Microsoft Yahei", "微软雅黑";}
body{background-color:rgb(239,238,235);}
li{list-style:none;}
i{font-style:normal;}
.title,.author{font-size:14px;font-weight:bold;opacity:1;color:#333;}
.title:hover,.author:hover{opacity:0.6;color:#F00;font-weight:bold;}
a:link,a:hover,a:active,a:visited{text-decoration:none;}
.footer a:link,a:hover,a:active,a:visited{text-decoration:none;color:#333;}
.favor{font-size:18px;}
.label{
    margin-right: 5px;
    opacity: 1;
    display: inline-block;
    font-size: 12px;}
.label:hover{ opacity:0.6}   
.label:visited{color:#fff}
/***************页头*******************/
.header ul{
  	position: fixed;
  	width:100%;
  	height: 40px;
	line-height:40px;
	top:0;
  	display: -webkit-flex;
	display: flex;
	flex-flow: row nowrap;	
	justify-content:space-between;
	background-color:rgb(39, 39, 41);
	border-bottom: 1px solid #040000;
	box-shadow: 0 0.25rem 0.25rem rgba(0,0,0,0.5);
	z-index:3;}
.header ul li,.header ul li h3,.header ul li i{color:#fff;height: 40px;line-height:40px;}
.header ul li h3{font-weight:bold;}
.header i{padding:10px;font-size:24px;}
/**************页脚****************/
.footer{z-index: 4}
.footer ul{
  	position: fixed;
  	width:100%;
  	height: 50px;
	bottom:0;
  	display: -webkit-flex;
	display: flex;
	flex-flow: row nowrap;	
	justify-content:space-around;
	background-color:#fff;
	border-top:1px solid #999;}
.footer ul li,.footer ul li a{
	margin-top:2px;
	font-size:12px;}
.footer ul li i{
	font-size:25px;}
/**************首页****************/
.content{
	width:100%;
	padding:43px 0 60px 0;
	min-height:100% !important;
	height:auto;
	font-size:14px;
	z-index: 2
}
/**************首页****************/
.home li{
	padding:10px;
	margin-bottom:1rem;
	background-color:#FFF;
	border-bottom:1px solid #999;
	border-top:1px solid #999;}
.home hr{
	border-top:1px dotted #aaa;
	padding:0;
	margin:1rem 0;}
.novel-bottom{font-size:14px;overflow:hidden;}
.tagbox{width: 100%;}
.comment{overflow:hidden;}
.comment p{
	padding-top:1rem;
	font-size:13px;
	line-height:20px;
	text-indent:30px;}
.comment-header a,.comment-header span{
	vertical-align: middle;
	line-height: 60px;
	display: inline-block;
	margin-right: 10px;}
.status{color:#999;}
.leftphoto{
	width: 60px;
	height:60px;
	display: inline-block;
	border-radius: 50%;
	background-size:cover;
	background-position: center;}
/********************************文单列表*********************************/
.collectlist-box{
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;	
	justify-content:space-around;}
.collectlist-box li{
	flex:1 1 auto;
	justify-content:space-around;
	min-width:160px;
	height: 150px;
	margin-top:20px;
	font-size:12px;
	color:#666;}
.collectlist-box li div{
	width:150px;
    height:120px;
    margin: 0 auto;
	border-top-left-radius:0.5rem; 
	border-top-right-radius:0.5rem;
	background-size:cover;
	background-position: center;
	transition:all ease 1s;}
.collectlist-box li div a{
	width:150px;height:120px;display:block;
	padding:20px 10px;
	border-radius:0.5rem;
	transition:all ease 1s;
	background-color:rgba(255,255,255,0.3);}
.collectlist-box li div a:hover{background-color:rgba(51,51,51,0.6);}
.collectlist-box li div a:hover h3,
.collectlist-box li div a:hover h5,
.collectlist-box li div a:hover h5 i{color:#FFF;text-shadow: 1px 1px 1px #000;}
.collectlist-box li h3{
	font-weight:bold;
	font-size:16px;
	text-shadow: 1px 1px 1px #EEE;
	line-height:30px;
	text-align:center;}
.collectlist-box li h5,.collectlist-box li h5 i{
	font-size:12px;
	line-height: 16px;
	text-align:center;
	padding-bottom: 10px;
	text-shadow: 1px 1px 1px #EEE;}
.collectlist-box li p{
	width:150px;
	height: 30px;
	margin: 0 auto;
	padding:0 5px;
	background-color:#fff;
	border-bottom-left-radius:0.5rem; 
	border-bottom-right-radius:0.5rem;
	line-height: 30px;}
.collectlist-box li span,.collectlist-box li span i{
	line-height: 30px;
	font-size:12px;}
/********************************排行*********************************/
.rank-btn{
	display: -webkit-flex;
	display: flex;
	flex-flow: row nowrap;	
	justify-content:space-around;}
.rank-btn li{
	float:1 1 auto;
	width:100%;
	text-align:center;}
.rank-content{
	background-color:#fff;
	width:100%;min-height:100%;}
.rank-list{width:100%;height:100%;display:block;}
.rank-list ul{width:100%;}	
.rank-list li{
	width:100%;
	padding:10px;
	border-bottom:1px dotted #999;}
.rank-list li,span,i{font-size:12px;}
/**************我的****************/
.backheader{
	padding:30px;
	height:160px;
	display: -webkit-flex;
	display: flex;
	flex-flow: row nowrap;	
	justify-content:flex-start;
	border-bottom:1px solid #ccc;}
.backimg{
	width: 100px;
	height:100px;
	display: inline-block;
	border-radius: 50%;
	background-size:cover;
	background-position: center;
	margin-right:3rem;}
.backtitle{
	border-left:1px solid #CCC;
	height:100px;
	padding-left:30px;}
.backtitle span{
	margin-top:1.5rem;
	display:block;}
.backtitle b{
	height:3rem;
	line-height:4rem;
	font-size:2rem;}
/********实现切换效果**********/
.op-content{   
    overflow: hidden;
    height:0;
    transition: height .5s;}
.op{display:none;}
.op:checked+label .op-content{
	display:block;
	height:auto;}
.backlist input+label{width:100%;}
.backlist h3{
	height:35px;
	line-height:35px;
	border-bottom:1px solid #ccc;}
.backlist h3{padding-left:0.5rem;}
.backlist li{
	padding-left:0.5rem;
	background-color:#FFF;}
.backlist h3 i{
	font-size:24px;
	color:#999;}

/***************小说页***************/
.novel-box,.love-box{box-shadow: 0px 0px 4px rgba(0,0,0,0.3);}
.novel-box,.commentlist, .collection-box li,.authorlist-box li{
	padding:20px;
	font-size:13px;
	color:#666;
	position:relative;}
.novel-box{margin-top:-10px;}
.love-box{padding-top:20px;}
.novel-box h1{
	font-size:2rem;
	font-weight:bold;}
.novel-box,.commentlist,.collection-box li{
	margin-top:10px;background-color:#fff;line-height:24px;}
.authorlist-box li{line-height:24px;background-color:#fff;}
.authorlist-box li hr{border:1px dotted #999;}
.love-box{
	margin-bottom:20px;
	background-color:#eee;
	line-height:24px;}
.novel-box h1{display:inline-block;}
.novel-box p{text-indent:2rem;}
.novel-box table{border-top:1px dotted #aaa;width:100%;}
.novel-box table tr > th:first-child{width:30%;}
.love-box input{
	width:150px;
	font-size:13px;
	height:30px;
	line-height:30px;
	margin-top:5px;}
.commentlist i{font-weight: bold;}
.commentlist p,.commentlist span,.commentlist i{
	line-height: 25px;
	vertical-align: middle;}
.commentlist p{text-indent: 3rem;}
.smallphoto{
	width: 20px;
	height:20px;
	display: inline-block;
	margin-right:8px;
	background-size:cover;
	background-position: center;}
.replytime{
	color:#999;
	font-size: 12px;
	display: block;}	
.commentlist{clear:both;
	display:block;
    margin-top:30px;}
.commentlist li{
	display:block;
	margin-bottom:10px;
	line-height:24px;
	text-align:left;
	font-size: 13px;
	border-bottom:1px dotted #aaa;}
.commentlist li img{
	width:20px;  
    height:20px;
	margin-right:10px;}
.commentlist li a{color:#999;margin-right:10px;font-size: 13px;}
.commentlist li, .commentlist li a,.commentlist li img{vertical-align:baseline;}
/******小说页*****/
.novellist-box li:first-child{
	border-top:1px solid #999;
border-bottom:1px solid #999;}
.novellist-box li{
    border-bottom:1px solid #999;
	padding:20px;
	width:100%;
	font-size:14px;
	color:#666;
	background-color:#fff;
	line-height:24px;}
.author-content h1{font-size:3rem;}
.author-content > h3{padding:10px 20px;}
.author-content hr{
	padding:0px;
	margin:7px 0;
	border-top:1px dotted #999;}
